
.fuentes{
    text-align: justify;
}
.fuentes h1{
    display: flex;
    align-content: center;
}
      table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
      th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
 